@import '../../../../assets/sass/responsive';

.main__procedure {
  padding: 4.9375rem 0;
  margin-top: 2.5rem;
  text-align: center;

  @include md {
    margin-top: 1.5rem;
    padding: 3rem 0;
  }

  .procedure__content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;

    .procedure__line {
      width: 2.5625rem;
      height: 0.25rem;
      background-color: #000339;
      border-radius: 0.75rem;
      margin-bottom: 0.625rem;
    }

    .procedure__title {
      font-size: 2.1875rem;
      color: #000339;
      font-weight: 600;
      margin-bottom: 1.25rem;

      @include md {
        font-size: 1.85rem;
      }

      @include sm {
        margin-bottom: 0.85rem;
      }
    }

    .procedure__desc {
      color: #5a6473;

      @include md {
        font-size: 0.87rem;
      }
    }
  }

  .procedure__list {
    margin-top: 4.375rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @include md {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @include sm {
      margin-top: 3.25rem;
      justify-content: center;
    }

    .procedure__item:not(:last-child) {
      margin-right: 8.75rem;

      @include md {
        margin-right: 0;
        margin-bottom: 2rem;
      }
    }

    .procedure__item {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      border-radius: 0.75rem;
      transition: .3s ease-in-out;

      @include md {
        width: calc((100% / 2) - 10%);
        padding: 1.5rem;
        box-shadow: 0 0 5px #e6f0ff;
        margin-right: 0;
      }

      @include smx {
        width: 100%;
      }

      @include sm {
        width: 100%;
      }

      &:hover{
        @include md{
          box-shadow: 0 0 7px 3px #e6f0ff;
        }
      }

      .procedure__icon {
        margin-bottom: 1.625rem;
      }

      .procedure__item--title {
        margin-bottom: 0.625rem;
        font-size: 1.25rem;
        color: #3b3c45;
        font-weight: 500;
      }

      .procedure__link {
        color: #0689ff;
        font-weight: 600;
        font-size: 0.875rem;
        transition: 0.2s ease-in-out;

        &--icon {
          margin-left: 0.5rem;
          transition: 0.2s ease-in-out;
        }

        &:hover {
          color: #6db4f1;
          .procedure__link--icon {
            transform: translateX(0.5rem);
          }
        }
      }
    }
  }

  .procedure__btn {
    margin-top: 3rem;
    padding: 1rem 1.5625rem;
  }
}
