@import '../../../../assets/sass/responsive';

.footer__list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  @include md {
    flex-wrap: wrap;
  }

  .footer__item {
    @include md {
      width: calc(100% / 2);
      margin-bottom: 2.5rem;
    }

    @include sm {
      width: 100%;
    }

    h3 {
      margin-bottom: 2.625rem;
      font-size: 1.25rem;
      font-weight: 600;

      @include md {
        margin-bottom: 1.5rem;
      }
    }

    ul {
      flex-flow: column nowrap;

      li:not(:last-child) {
        margin-bottom: 1.125rem;
      }

      li {
        transition: 0.2s ease-out;

        a {
          display: inline-block;
          font-size: 1rem;
          color: #7a7a7e;

          @include sm {
            font-size: 0.9rem;
          }
        }

        span {
          margin-left: 0.75rem;
          opacity: 0;
          transition: 0.2s ease-out;
        }

        &:hover {
          a {
            color: #000;
          }

          span {
            opacity: 1;
            transform: rotate(-180deg);
          }
        }
      }
    }
  }

  .footer__item:nth-child(2) {
    min-width: 7.8125rem;
  }

  .footer__item:nth-child(3) {
    min-width: 7.6375rem;
  }

  .footer__item:nth-child(4) {
    max-width: 15rem;
  }

  .footer__item {
    p {
      color: #7a7a7a;
      margin-bottom: 2.5rem;
    }

    .footer__icon-list {
      display: flex;
      flex-flow: row nowrap;

      .icon__item:not(:last-child) {
        margin-right: 1rem;
      }

      .icon__item {
        padding: 0.5rem;
        border-radius: 0.45rem;
        background: #f9f9f9;
        transition: 0.2s ease-in;

        &:hover {
          transform: translateY(-0.35rem);
        }
      }
    }
  }
}
