.btn {
  border-radius: 0.75rem;
  background: #0f1b4c;
  color: #fff;
  font-weight: 500;
  padding: $base-padding $base-padding * 2;
  transition: 0.2s ease-in-out;

  &:hover {
    opacity: 0.75;
  }
}

span {
  display: inline-block;
}
